<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                            <span class="label label-danger">{{dish.label}}</span>
                            <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                <h3>Customer Comments
                    <small>  Sort by:
                        <input ng-model="filtText" type="text" ng-change="changeHandler()" placeholder="Search for...">
                    </small>
                </h3>
                <blockquote ng-repeat="comment in dish.comments | orderBy: getOrder()">
                    <p>{{comment.rating}} Starts</p>
                    <p>{{comment.comment}}</p>
                    <footer>{{comment.author}}, <cite title="Source Title">{{comment.date | date:'MMM, dd, yyyy' }}</cite></footer>
                </blockquote>
                <!--Assigment 2 -->
                <ul class="list-unstyled">
                    <blockquote ng-show="!commentForm.$pristine">
                        <p>{{newComment .rating}} Starts</p>
                        <p>{{newComment.comment}}</p>
                        <footer>{{newComment.author}}, <cite title="Source Title">{{comment.date | date:'MMM, dd, yyyy' }}</cite></footer>
                    </blockquote>
                </ul>
                <form class="form-horizontal" name="commentForm"
                                              ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.yourname.$error.required && !commentForm.yourname.$pristine }">
                        <label for="yourname" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="yourname" name="yourname" placeholder="Enter Your Name"
                                                                                                  ng-model="newComment.author" required>
                            <span ng-show="commentForm.yourname.$error.required && !commentForm.yourname.$pristine" class="help-block">Your name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">Number of Stars</label>
                        <label class="radio-inline" ng-repeat="i in [1, 2, 3, 4, 5]">
                            <input type="radio" ng-model="newComment.rating" ng-value="i" ng-checked="checked" > {{ i }} 
                        </label>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : commentForm.newcomment.$error.required && !commentForm.newcomment.$pristine}">
                        <label for="newcomment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="newcomment" name="newcomment" rows="12" ng-model="newComment.comment" required></textarea>
                            <span ng-show="commentForm.newcomment.$error.required && !commentForm.newcomment.$pristine" class="help-block">Your comments are required.</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid ">Submit Comments</button>
                </form>
        </div>
    </div>

    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>

</body>

</html>
